.env
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.log
.DS_Store
static/uploads/categories/*
!static/uploads/categories/.gitkeep
static/uploads/products/*
!static/uploads/products/.gitkeep
static/uploads/hero/*
!static/uploads/hero/.gitkeep
static/uploads/about/*
!static/uploads/about/.gitkeep
