<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <!-- <div class="logo-icon">
      <img src="/assets/images/logo-dark.png" class="logo-img" alt="N Designs">
    </div> -->
    <div class="logo-name flex-grow-1">
      <h5 class="mb-0">N Designs</h5>
    </div>
    <div class="sidebar-close">
      <span class="material-icons-outlined">close</span>
    </div>
  </div>

  <div class="sidebar-nav">
    <ul class="metismenu" id="sidenav">

      <li>
        <a href="/admin/dashboard">
          <div class="parent-icon"><i class="material-icons-outlined">dashboard</i></div>
          <div class="menu-title">Dashboard</div>
        </a>
      </li>

      <li>
        <a href="/admin/products">
          <div class="parent-icon"><i class="material-icons-outlined">checkroom</i></div>
          <div class="menu-title">Products</div>
        </a>
      </li>

      <li>
        <a href="/admin/categories">
          <div class="parent-icon"><i class="material-icons-outlined">category</i></div>
          <div class="menu-title">Categories</div>
        </a>
      </li>

      <li>
        <a href="/admin/orders">
          <div class="parent-icon"><i class="material-icons-outlined">receipt_long</i></div>
          <div class="menu-title">Orders</div>
        </a>
      </li>

      <li>
        <a href="/admin/discount-codes">
          <div class="parent-icon"><i class="material-icons-outlined">local_offer</i></div>
          <div class="menu-title">Discount Codes</div>
        </a>
      </li>

      <li>
        <a href="/admin/customers">
          <div class="parent-icon"><i class="material-icons-outlined">people</i></div>
          <div class="menu-title">Customers</div>
        </a>
      </li>

      <li>
        <a href="/admin/settings">
          <div class="parent-icon"><i class="material-icons-outlined">settings</i></div>
          <div class="menu-title">Settings</div>
        </a>
      </li>

      <li>
        <a href="javascript:;" class="logout-link">
          <div class="parent-icon"><i class="material-icons-outlined">power_settings_new</i></div>
          <div class="menu-title">Logout</div>
        </a>
      </li>

    </ul>
  </div>
</aside>
